.app {
  border-radius: 5px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;

    .logo {
      text-align: center;
      width: 100%;
    }

    .navigation {
      display: flex;
      flex-direction: row;

      .nav-gap {
        margin: 0 10px;
      }

      .test {
        background-color: green;
      }
    }
  }

  .content {
    border-radius: 5px;
    padding: 20px;
  }

  .form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
    }
  }
}
